.filter {
  width: 60%;
  padding-bottom: 15px;

  label {
    display: block;
  }

  input,
  label {
    margin: 0.4rem 0;
  }

  .filter-input {
    padding: 5px;
    padding-left: 9px;
    margin: 0 !important;
  }

  .input-date {
    input {
      margin: 0px;
      padding: 5px;
      padding-left: 8px;
    }
  }

  select {
    border: 1px solid;
  }
}
