.usedTime {
  background-color: white;
  height: 430px;

  &-container {
    text-align: center;
    width: 97%;

    table {
      tbody {
        height: 500px;
      }
      cursor: pointer;
      tfoot {
        border-top: none !important;

        tr {
          border: none !important;

          td {
            border: none !important;
            nav {
              .pagination {
                justify-content: flex-end;
              }
              li a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
