.lineChart {
  background-color: #ffffff;
  height: 485px;
  
  @include pc {
    height: 500px;
  }
  @include tablet {
    height: 495px;
  }
  @include mobile {
    height: 503px;
  }
  &-container {
    &-menu {
      display: flex;
      justify-content: flex-end;
      &-item {
        width: 5px;
        height: 20px;
        margin: 0 auto;
        background-color: #00ff22;
      }

      span {
        font-size: 16px;
        color: #000000;
        font-weight: bold;
        padding-right: 15px;
      }
    }
  }
  .pl{
    padding-left: 35px;
    @include tablet {
      padding-top: 20px;
      margin-top: 10px;
    }
    @include mobile {
      padding-top: 0px;
      margin-top: 10px;
      padding-left: 0px;
    }
    @include laptop {
      margin-top: 10px;
    }
  }
}

.none {
  visibility: hidden;
}
