.lineChart {
  background-color: #ffffff;
  height:485px;
  position: relative;
  @include pc {
    height: 585px;
  }
  @include tablet {
    height: 495px;
  }
  @include mobile {
    padding-top:20px;
    height: 503px;
  }
  &-container {
    &-menu {
      display: flex;
      justify-content: flex-end;
      &-item {
        width: 5px;
        height: 20px;
        margin: 0 auto;
        background-color: #00ff22;
      }

      span {
        font-size: 16px;
        color: #000000;
        font-weight: bold;
        padding-right: 15px;
      }
    }
  }
}

.none {
  visibility: hidden;
}
