.rankingChart {
  background-color: white;
  position:relative;
  @include tablet {
    height: 373px;
  }
  @include laptop {
    height: 360px;
    padding-right: 20px;
  }
  @include mobile {
    height: 240px;
    canvas{
      height: 235px !important;
    }
  }
  height: 350px;
}
