.rankingChart {
  background-color: white;

  @include pc {
    height: 400px;
  }

  @include tablet {
    height: 383px;
  }

  @include laptop {
    height: 370px;
  }

  height: 370px;

  @include laptop-l {
    height: 370px;

    canvas {
      height: 350px !important;
    }
  }

  @include mobile {
    height: 270px;

    canvas {
      height: 260px !important;
    }
  }

  .pr {
    @include laptop {
      padding-right: 20px;
    }

    @include laptop-l {
      padding-right: 20px;
    }
  }
}
