.pieChart {
  background-color: white;
  height: 495px;
  position: relative;

  @include pc {
    canvas {
      height: 450px !important;
      width: 450px !important;
    }
  }

  @include tablet {
    height: 720px;
  }

  @include mobile {
    height: 382px;
  }
}
